*.root
*.zip
*.png
*.jpg
*.jpeg
*.pdf
*.txt
.ipynb_checkpoints
*_C.d
*_C.so
*.pcm
*_C_ACLiC_dict*
*MYCODES_h*
codes/*
!codes/.templates/
load_my_class.sh
!codes/setup_codes.sh

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
tags
